{% extends "base.html" %}
{% block content %}
<div>
    <img src="{{ url_for('static', filename='safeway.png') }}" style="width: 80%; margin: auto; align-self: center;" alt="Safeway Logo">
    <h1 style="align-self: center;">Welcome to the Safeway Bus Booking System</h1>
    <p>
        We are a bus booking company that provides a platform for booking buses to various destinations.
    </p>
    <p>
        Our buses are comfortable and safe. We have a team of professional drivers who are well trained and experienced.
    </p>
    <a href="" style="background-color: black; padding: 6px; border-radius: 10px; color: aliceblue;  text-decoration: none; margin: auto;">BOOK RIDE</a>

</div>
{% endblock %}
